/* Some parts are from https://github.com/markdowncss/modest using the MIT license. */

@font-face {
  font-family: "Whitney";
  src: url("./Whitney/whitney-light.otf");
}

@font-face {
  font-family: "Whitney Medium";
  src: url("./Whitney/whitney-medium.otf");
}

@font-face {
  font-family: "Whitney Bold";
  src: url("./Whitney/whitney-bold.otf");
}

@font-face {
  font-family: "Consolas";
  src: url("./Consolas/CONSOLA.TTF");
}

pre, code {
  font-family: Consolas;
  border-radius: 3px;
  padding: 2.72px;
  background: #2f3136;
}

pre {
  line-height: 1.25;
  overflow-x: scroll;
}

a {
  text-decoration: none;
}

a, a:visited {
  color: #00b0f4;
}

a:hover, a:focus, a:active {
  color: #00b0f4;
  text-decoration: underline;
}

.mention, .mention:visited {
  border-radius: 3px;
  background-color: rgba(114,137,218,.1);
  color: #7289da;
  display: inline;
  padding-left: 2px;
  padding-right: 2px;
}

.mention:hover, .mention:focus, .mention:active {
  color: #fff;
  background-color: #7289da;
  text-decoration: none;
}

html {
  font-size: 12px;
  background-color:#36393f;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 48rem) {
  html {
    font-size: 16px;
  }
}

body {
  line-height: 1.85;
}

p {
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #7289da;
  font-family: "Whitney Bold";
}

h1, h2, h3, h4 {
  font-weight: inherit;
  line-height: 1.42;
  margin-block-end: 0;
}

h1 {
  margin-top: 0;
  font-size: 3.998rem;
}

h2 {
  font-size: 2.827rem;
}

h3 {
  font-size: 1.999rem;
}

h4 {
  font-size: 1.414rem;
}

h5 {
  font-size: 1.121rem;
}

h6 {
  font-size: .88rem;
}

small {
  font-size: .707em;
}

img, canvas, iframe, video, svg, select, textarea {
  max-width: 100%;
}

html {
  font-size: 18px;
  max-width: 100%;
}

body {
  color: #dcddde;
  font-family: "Whitney";
  font-weight: 300;
  margin: 0 auto;
  max-width: 48rem;
  line-height: 1.45;
  padding: .25rem;
}

h1, h2, h3 {
  text-align: center;
}

blockquote {
  border-left: 8px solid #fafafa;
  padding: 1rem;
}

pre, code {
  background-color: rgb(47, 49, 54);
}

li {
  margin-bottom: 4px;
}

button {
  font-family: "Whitney Medium";
  color: #fff;
  background-color: #7289da;
  min-width: 96px;
  height: 38px;
  border: none;
  border-radius: 3px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 2px;
  padding-bottom: 2px;
  
  transition-property: background-color, color;
  transition-duration: 0.17s, 0.17s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
}

button:hover {
  background-color: #677bc4;
}

button:focus {
  outline: 0;
}

button:active {
  background-color: #5b6eae;
  outline: 0;
}

.button-wrapper {
  float: right;
}

.button-text {
  float: left;
  height: 38px;
  line-height: 38px;
  vertical-align: middle;
}

body {
  scrollbar-width: auto;
}

body, body:hover {
  scrollbar-color: #202225 #2f3136;
}

body::-webkit-scrollbar {
  width: 16px;
  height: 16px
}

body::-webkit-scrollbar-track {
  background-color: #2e3338;
}

body::-webkit-scrollbar-thumb, body::-webkit-scrollbar-track {
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: #202225;
  min-height: 40px;
}

body::-webkit-scrollbar-corner {
  background-color: transparent;
}